@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Merriweather%3Aital%2Cwght%400%2C400%3B0%2C700%3B1%2C400%3B1%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B1%2C400%3B1%2C500&display=swap");

.plasmic_tokens {
  --token-o8tZkmelmCm_s8: #ffffff;
  --plasmic-token-white: var(--token-o8tZkmelmCm_s8);
  --token-6VsBE_Pg4GKt7J: #e5aa43;
  --plasmic-token-gold: var(--token-6VsBE_Pg4GKt7J);
  --token-SPTD430xpXyaUy: 1px;
  --plasmic-token-padd-menu: var(--token-SPTD430xpXyaUy);
  --token-Zt99Hl5OR: var(--token-y3J6T7Zlc);
  --plasmic-token-unnamed-style-token: var(--token-Zt99Hl5OR);
  --token-y3J6T7Zlc: #ffffff;
  --plasmic-token-df-main-blue: var(--token-y3J6T7Zlc);
  --token-G_Cicozef: #1781ba;
  --plasmic-token-df-main-blue-2: var(--token-G_Cicozef);
  --token-NIReezPa5: var(--token-o8tZkmelmCm_s8);
  --plasmic-token-unnamed-style-token-2: var(--token-NIReezPa5);
  --token-qqec7cVTA: var(--token-me5aatUbt);
  --plasmic-token-unnamed-style-token-3: var(--token-qqec7cVTA);
  --token-me5aatUbt: var(--token-_s4N23lEN);
  --plasmic-token-unnamed-style-token-4: var(--token-me5aatUbt);
  --token-_s4N23lEN: #fec70a;
  --plasmic-token-d-fmainyellow: var(--token-_s4N23lEN);
}

.plasmic_default_styles {
  --mixin-AmgWT6q0vcWoG_font-family: "Inter";
  --mixin-AmgWT6q0vcWoG_font-size: 16px;
  --mixin-AmgWT6q0vcWoG_font-weight: 400;
  --mixin-AmgWT6q0vcWoG_font-style: normal;
  --mixin-AmgWT6q0vcWoG_color: #535353;
  --mixin-AmgWT6q0vcWoG_text-align: left;
  --mixin-AmgWT6q0vcWoG_text-transform: none;
  --mixin-AmgWT6q0vcWoG_line-height: 1.5;
  --mixin-AmgWT6q0vcWoG_letter-spacing: normal;
  --mixin-AmgWT6q0vcWoG_white-space: pre-wrap;
  --mixin-AmgWT6q0vcWoG_user-select: text;
  --mixin-AmgWT6q0vcWoG_text-decoration-line: none;
  --mixin-AmgWT6q0vcWoG_text-overflow: clip;
  --mixin-DVtm3fYg7LWrr_color: var(--token-o8tZkmelmCm_s8);
  --mixin-DVtm3fYg7LWrr_font-weight: 400;
  --mixin-DVtm3fYg7LWrr_font-size: 52px;
  --mixin-DVtm3fYg7LWrr_line-height: 1;
  --mixin-DVtm3fYg7LWrr_letter-spacing: 0px;
  --mixin-DVtm3fYg7LWrr_font-family: "Merriweather";
  --mixin-DVtm3fYg7LWrr_white-space: pre-wrap;
  --mixin-XtZ5IqNzM-J2o_color: #000000;
  --mixin-XtZ5IqNzM-J2o_font-weight: 500;
  --mixin-XtZ5IqNzM-J2o_font-size: 36px;
  --mixin-XtZ5IqNzM-J2o_line-height: 1.1;
  --mixin-XtZ5IqNzM-J2o_letter-spacing: 0px;
  --mixin-XtZ5IqNzM-J2o_font-family: "Merriweather";
  --mixin-XtZ5IqNzM-J2o_white-space: pre-wrap;
  --mixin-MKYZPYZ0AMZeM_color: var(--token-6VsBE_Pg4GKt7J);
  --mixin-MKYZPYZ0AMZeM_white-space: pre-wrap;
  --mixin-T49l1qyNf4pGn_color: #000000;
  --mixin-T49l1qyNf4pGn_font-weight: 500;
  --mixin-T49l1qyNf4pGn_font-size: 23px;
  --mixin-T49l1qyNf4pGn_line-height: 1.2;
  --mixin-T49l1qyNf4pGn_letter-spacing: 0px;
  --mixin-T49l1qyNf4pGn_white-space: pre-wrap;
  --mixin-ZJs1Ko61lkYUK_color: #000000;
  --mixin-ZJs1Ko61lkYUK_font-weight: 600;
  --mixin-ZJs1Ko61lkYUK_font-size: 24px;
  --mixin-ZJs1Ko61lkYUK_line-height: 1.3;
  --mixin-ZJs1Ko61lkYUK_letter-spacing: -0.5px;
  --mixin-ZJs1Ko61lkYUK_white-space: pre-wrap;
  --mixin-swRcnXE5DE82f_font-family: "Inconsolata";
  --mixin-swRcnXE5DE82f_padding-top: 1px;
  --mixin-swRcnXE5DE82f_padding-right: 4px;
  --mixin-swRcnXE5DE82f_padding-bottom: 1px;
  --mixin-swRcnXE5DE82f_padding-left: 4px;
  --mixin-swRcnXE5DE82f_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-swRcnXE5DE82f_border-top-color: #dddddd;
  --mixin-swRcnXE5DE82f_border-top-width: 1px;
  --mixin-swRcnXE5DE82f_border-top-style: solid;
  --mixin-swRcnXE5DE82f_border-right-color: #dddddd;
  --mixin-swRcnXE5DE82f_border-right-width: 1px;
  --mixin-swRcnXE5DE82f_border-right-style: solid;
  --mixin-swRcnXE5DE82f_border-bottom-color: #dddddd;
  --mixin-swRcnXE5DE82f_border-bottom-width: 1px;
  --mixin-swRcnXE5DE82f_border-bottom-style: solid;
  --mixin-swRcnXE5DE82f_border-left-color: #dddddd;
  --mixin-swRcnXE5DE82f_border-left-width: 1px;
  --mixin-swRcnXE5DE82f_border-left-style: solid;
  --mixin-swRcnXE5DE82f_border-top-left-radius: 3px;
  --mixin-swRcnXE5DE82f_border-top-right-radius: 3px;
  --mixin-swRcnXE5DE82f_border-bottom-right-radius: 3px;
  --mixin-swRcnXE5DE82f_border-bottom-left-radius: 3px;
  --mixin-swRcnXE5DE82f_white-space: pre-wrap;
  --mixin-3kBf8PN6kusVh_color: #888888;
  --mixin-3kBf8PN6kusVh_padding-left: 10px;
  --mixin-3kBf8PN6kusVh_border-left-width: 3px;
  --mixin-3kBf8PN6kusVh_border-left-style: solid;
  --mixin-3kBf8PN6kusVh_border-left-color: #dddddd;
  --mixin-3kBf8PN6kusVh_white-space: pre-wrap;
  --mixin-DOHUqUuMOQWNx_padding-top: 3px;
  --mixin-DOHUqUuMOQWNx_padding-right: 6px;
  --mixin-DOHUqUuMOQWNx_padding-bottom: 3px;
  --mixin-DOHUqUuMOQWNx_padding-left: 6px;
  --mixin-DOHUqUuMOQWNx_font-family: "Inconsolata";
  --mixin-DOHUqUuMOQWNx_border-top-left-radius: 3px;
  --mixin-DOHUqUuMOQWNx_border-top-right-radius: 3px;
  --mixin-DOHUqUuMOQWNx_border-bottom-right-radius: 3px;
  --mixin-DOHUqUuMOQWNx_border-bottom-left-radius: 3px;
  --mixin-DOHUqUuMOQWNx_border-top-color: #dddddd;
  --mixin-DOHUqUuMOQWNx_border-top-width: 1px;
  --mixin-DOHUqUuMOQWNx_border-top-style: solid;
  --mixin-DOHUqUuMOQWNx_border-right-color: #dddddd;
  --mixin-DOHUqUuMOQWNx_border-right-width: 1px;
  --mixin-DOHUqUuMOQWNx_border-right-style: solid;
  --mixin-DOHUqUuMOQWNx_border-bottom-color: #dddddd;
  --mixin-DOHUqUuMOQWNx_border-bottom-width: 1px;
  --mixin-DOHUqUuMOQWNx_border-bottom-style: solid;
  --mixin-DOHUqUuMOQWNx_border-left-color: #dddddd;
  --mixin-DOHUqUuMOQWNx_border-left-width: 1px;
  --mixin-DOHUqUuMOQWNx_border-left-style: solid;
  --mixin-DOHUqUuMOQWNx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DOHUqUuMOQWNx_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-AmgWT6q0vcWoG_font-family);
  font-size: var(--mixin-AmgWT6q0vcWoG_font-size);
  font-weight: var(--mixin-AmgWT6q0vcWoG_font-weight);
  font-style: var(--mixin-AmgWT6q0vcWoG_font-style);
  color: var(--mixin-AmgWT6q0vcWoG_color);
  text-align: var(--mixin-AmgWT6q0vcWoG_text-align);
  text-transform: var(--mixin-AmgWT6q0vcWoG_text-transform);
  line-height: var(--mixin-AmgWT6q0vcWoG_line-height);
  letter-spacing: var(--mixin-AmgWT6q0vcWoG_letter-spacing);
  white-space: var(--mixin-AmgWT6q0vcWoG_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-DVtm3fYg7LWrr_color);
  font-weight: var(--mixin-DVtm3fYg7LWrr_font-weight);
  font-size: var(--mixin-DVtm3fYg7LWrr_font-size);
  line-height: var(--mixin-DVtm3fYg7LWrr_line-height);
  letter-spacing: var(--mixin-DVtm3fYg7LWrr_letter-spacing);
  font-family: var(--mixin-DVtm3fYg7LWrr_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-XtZ5IqNzM-J2o_color);
  font-weight: var(--mixin-XtZ5IqNzM-J2o_font-weight);
  font-size: var(--mixin-XtZ5IqNzM-J2o_font-size);
  line-height: var(--mixin-XtZ5IqNzM-J2o_line-height);
  letter-spacing: var(--mixin-XtZ5IqNzM-J2o_letter-spacing);
  font-family: var(--mixin-XtZ5IqNzM-J2o_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-MKYZPYZ0AMZeM_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-T49l1qyNf4pGn_color);
  font-weight: var(--mixin-T49l1qyNf4pGn_font-weight);
  font-size: var(--mixin-T49l1qyNf4pGn_font-size);
  line-height: var(--mixin-T49l1qyNf4pGn_line-height);
  letter-spacing: var(--mixin-T49l1qyNf4pGn_letter-spacing);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-ZJs1Ko61lkYUK_color);
  font-weight: var(--mixin-ZJs1Ko61lkYUK_font-weight);
  font-size: var(--mixin-ZJs1Ko61lkYUK_font-size);
  line-height: var(--mixin-ZJs1Ko61lkYUK_line-height);
  letter-spacing: var(--mixin-ZJs1Ko61lkYUK_letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  font-family: var(--mixin-swRcnXE5DE82f_font-family);
  background: var(--mixin-swRcnXE5DE82f_background);
  border-radius: var(--mixin-swRcnXE5DE82f_border-top-left-radius)
    var(--mixin-swRcnXE5DE82f_border-top-right-radius)
    var(--mixin-swRcnXE5DE82f_border-bottom-right-radius)
    var(--mixin-swRcnXE5DE82f_border-bottom-left-radius);
  padding: var(--mixin-swRcnXE5DE82f_padding-top)
    var(--mixin-swRcnXE5DE82f_padding-right)
    var(--mixin-swRcnXE5DE82f_padding-bottom)
    var(--mixin-swRcnXE5DE82f_padding-left);
  border-top: var(--mixin-swRcnXE5DE82f_border-top-width)
    var(--mixin-swRcnXE5DE82f_border-top-style)
    var(--mixin-swRcnXE5DE82f_border-top-color);
  border-right: var(--mixin-swRcnXE5DE82f_border-right-width)
    var(--mixin-swRcnXE5DE82f_border-right-style)
    var(--mixin-swRcnXE5DE82f_border-right-color);
  border-bottom: var(--mixin-swRcnXE5DE82f_border-bottom-width)
    var(--mixin-swRcnXE5DE82f_border-bottom-style)
    var(--mixin-swRcnXE5DE82f_border-bottom-color);
  border-left: var(--mixin-swRcnXE5DE82f_border-left-width)
    var(--mixin-swRcnXE5DE82f_border-left-style)
    var(--mixin-swRcnXE5DE82f_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-3kBf8PN6kusVh_color);
  padding-left: var(--mixin-3kBf8PN6kusVh_padding-left);
  border-left: var(--mixin-3kBf8PN6kusVh_border-left-width)
    var(--mixin-3kBf8PN6kusVh_border-left-style)
    var(--mixin-3kBf8PN6kusVh_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  font-family: var(--mixin-DOHUqUuMOQWNx_font-family);
  background: var(--mixin-DOHUqUuMOQWNx_background);
  border-radius: var(--mixin-DOHUqUuMOQWNx_border-top-left-radius)
    var(--mixin-DOHUqUuMOQWNx_border-top-right-radius)
    var(--mixin-DOHUqUuMOQWNx_border-bottom-right-radius)
    var(--mixin-DOHUqUuMOQWNx_border-bottom-left-radius);
  padding: var(--mixin-DOHUqUuMOQWNx_padding-top)
    var(--mixin-DOHUqUuMOQWNx_padding-right)
    var(--mixin-DOHUqUuMOQWNx_padding-bottom)
    var(--mixin-DOHUqUuMOQWNx_padding-left);
  border-top: var(--mixin-DOHUqUuMOQWNx_border-top-width)
    var(--mixin-DOHUqUuMOQWNx_border-top-style)
    var(--mixin-DOHUqUuMOQWNx_border-top-color);
  border-right: var(--mixin-DOHUqUuMOQWNx_border-right-width)
    var(--mixin-DOHUqUuMOQWNx_border-right-style)
    var(--mixin-DOHUqUuMOQWNx_border-right-color);
  border-bottom: var(--mixin-DOHUqUuMOQWNx_border-bottom-width)
    var(--mixin-DOHUqUuMOQWNx_border-bottom-style)
    var(--mixin-DOHUqUuMOQWNx_border-bottom-color);
  border-left: var(--mixin-DOHUqUuMOQWNx_border-left-width)
    var(--mixin-DOHUqUuMOQWNx_border-left-style)
    var(--mixin-DOHUqUuMOQWNx_border-left-color);
}
